<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item 0</key>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Lamborgini</string>
		<key>model</key>
		<string>Murcielago</string>
		<key>lastStarted</key>
		<date>2022-01-26T12:51:58Z</date>
		<key>imageName</key>
		<string>lamborginiMurcielago.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<key>Item 1</key>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tinnColor</key>
		<dict>
			<key>green</key>
			<integer>31</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>mark</key>
		<string>Ferrari</string>
		<key>model</key>
		<string>Enzo</string>
		<key>lastStarted</key>
		<date>2022-01-26T12:56:32Z</date>
		<key>imageName</key>
		<string>ferrariEnzo.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<key>Item 2</key>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>136</integer>
		</dict>
		<key>mark</key>
		<string>BMW</string>
		<key>model</key>
		<string>X6</string>
		<key>lastStarted</key>
		<date>2022-01-26T12:59:27Z</date>
		<key>imageName</key>
		<string>bmwX6.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<key>Item 3</key>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>187</integer>
		</dict>
		<key>mark</key>
		<string>Mercedes</string>
		<key>model</key>
		<string>GL</string>
		<key>lastStarted</key>
		<date>2022-01-26T13:02:37Z</date>
		<key>imageName</key>
		<string>mercedesGL.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
	<key>Item 4</key>
	<dict>
		<key>rating</key>
		<integer>5</integer>
		<key>myChoice</key>
		<false/>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
		</dict>
		<key>mark</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Patrol</string>
		<key>lastStarted</key>
		<date>2022-01-26T13:05:18Z</date>
		<key>imageName</key>
		<string>nissanPatrol.png</string>
		<key>timesDriven</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
